{% extends 'base.html' %}


{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Your Orders:</h2>
        <table class="table">
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>
                        <a href="{{ obj.get_absolute_url }}">
                            View #{{ obj.get_absolute_url }}
                            {% if obj.order_id %}
                                {{ obj.order_id  }}
                            {% else %}
                                {{ obj.id }}
                            {% endif %}
                        </a>
                    </td>
                    <td>Item Count: {{ obj.cart.items.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}